<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679590054797-bnvroivunlo3473urt053tuupiggaen1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679590054797-bnvroivunlo3473urt053tuupiggaen1</string>
	<key>API_KEY</key>
	<string>AIzaSyAue7bBaB2qlSkO2qMt9zkAdxI0qmQnGYM</string>
	<key>GCM_SENDER_ID</key>
	<string>679590054797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.tukareta.nori.RxSwiftFirebaseSampleApp</string>
	<key>PROJECT_ID</key>
	<string>rxswiftfirebasesampleapp</string>
	<key>STORAGE_BUCKET</key>
	<string>rxswiftfirebasesampleapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679590054797:ios:959183eddf998edca34bc4</string>
</dict>
</plist>